.App {
  text-align: left;
  /*background-color: #282c34;*/
  background-size: auto;
}

.App-logo {
  height: 30vmin;
  pointer-events: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form-one {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 33px;
  color: white;
  flex-grow: 4;
}
 {
  /*
input[type="text"]:focus {
  border: 3px solid #555;
}
*/
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
